:root {
  --bs-primary: #4A88E2;
  --bs-secondary: #99A6E9;
  --bs-light: #F6F8F5;
  --bs-dark: #222222;
  --bs-font-sans-serif:'Roboto Condensed', "Segoe UI", "Helvetica Neue";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222222;
  -webkit-text-size-adjust: 100%;
}

h1, .h1, h2, .h2 {
  margin-top: 0;
  margin-bottom: .1rem;
  font-family: 'Roboto Condensed', "Segoe UI", "Helvetica Neue";
  font-weight: 100;
  color: #fff;
}

h1, .h1 {
  font-size: 2rem !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
  background-color: #4A88E2;
  border-bottom: 5px solid #f0f0f0;
}

.total-income {
  font-family:'Segoe UI';
  background-color: #fff;
  color: #222222;
  font-size: 30px;
  padding: 5px 10px;
  min-width: 150px;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  text-decoration:none;
  border-radius: 1.5rem;
}

form {
  display: inline-block;
  text-align: center;
  width: 60%;
  min-width: 350px;
  text-decoration:none;
  border-radius: .5rem;
  padding: 1em 1em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

input {
  display: block;
  outline: none;
  margin: 0 0 1em 0;
  width: 100%; 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  text-decoration:none;
  padding: .7rem .7rem;
  border: none;
  border-bottom: 2px solid #cccccc;
}

input:focus { 
  outline: none !important;
  border-color: #719ECE;
}

input:-webkit-autofill {
  box-shadow: none;
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

.btn {
  font-weight: 600;
  color: #4A88E2;
  text-align: center;
  text-decoration:none;
  cursor:pointer;
  user-select: none;
}

 .btn-outline-success, .btn-outline-success:active {
   background-color: #4A88E2;
   color:#fff;
   border-radius: .5rem;
   border: 2px solid #4A88E2;
   font-size:1.5;
 }

 .btn-outline-success:hover {
  background-color: #fff;
  color:#4A88E2;
  border-radius: .5rem;
  border: 2px solid #4A88E2;
}

.title{
  color: #4A88E2;
  font-size: 1.5rem;
}

.income-list {
  display: inline-block;
  text-align: center;
  width: 60%;
  min-width: 350px;
  text-decoration:none;
  border-radius: .5rem;
  padding: 0 10px 0 10px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.income-item {
  position: relative;
  display: flex;
  text-align: left;
  padding: 10px;
  background-color: #fcfcfc;
  border-radius: .5rem;
}

.removeItem {
  color: #4A88E2;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  padding-right: 20px;
}

.desc {
  flex: 1 1 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 20px;
  min-width: 100px;
  text-decoration:none;
  border-radius: .5rem;
  border: none;
}

.price {
  flex: 1 1 30%;
  text-align: left;
  font-size: 20px;
  min-width: 50px;
}

.date {
  text-align: left;
  font-size: 20px;
}
